.leader_board-button {
  outline: none;
  border: 1px solid #0b57d0;
  width: 20rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: transparent;
  color: #0B57D0;
  font-size: 15px;
  font-family: 'robotoRegular';
}
.leader__board-button-container {
  text-align: center;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}
.leader__board-button-container>div {
  text-align: center;
  border-radius: 3px;
  border: 2px solid#0B57D0;
  padding: 16px 8px 8px 8px;
  font-size: 20px;
  color:#0b57d0;
  cursor: pointer;
}


.leader__board-button-container .loader_box {
  width: 440px;
  margin: 8px 0px;
}

.content_container {
  text-align: center;
  padding-top: 40px;
}

.bravo {
  color: #0B57D0;
  font-weight: bold;
  font-size: 65px;
  font-family: 'robotoCondensedRegular';
}

.ranking {
  color: #000;
  font-size: 35px;
}

.complete_time {
  color: #000;
  font-size: 16px;
  margin-top: 15px;
}

.alpha_container {
  text-align: center;
  margin-top: 20px;
}

.main_content_container {
  border: 2px solid #00000029;
  border-radius: 16px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 15px 5px 15px;
}

.pose_time_container_leaderboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin-top: 10px;
  gap: 20px;
}

.pose_time_box_leaderboard > div:first-child {
  display: flex;
  width: 75px;
  height: 45px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 28px;
  font-family: 'The Hound, Regular';
}
.pose_time_box_leaderboard > div:last-child {
  font-size: 14px;
  width: 75px;
  text-align: center;
}

.posetime_txt {
  text-align: center;
  font-size: 18px;
  font-family: 'robotoCondensedRegular';
  margin-top: 10px;
}