.gallery__header-parent-container {
  display: flex;
  justify-content: space-between;
  padding-left: 1.125rem;
  padding-right: 1.125rem;
  align-items: center;
  padding-bottom: 1rem;
}

.gallery__header-right-container {
  display: flex;
  flex-direction: column;
}

.gallery__player-name {
  font-size: 1.5rem;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding-left: 30px;
  /* font-family: ''; */
}

.gallery__player-ph-no {
  color: #a3c2f2;
  font-size: 1.125rem;
  padding-left: 1.7rem;
}

.gallery__header-checkbox {
  margin-right: 0.75rem;
}

.gallery__checkbox-label {
  font-size: 0.75rem;
  color: #fff;
}

.gallery__checkbox-container {
  display: flex;
  align-items: center;
}

.gallery__img-container {
  /* max-width: 400px; */
  margin-top: 1.5rem;
  min-height: 54vh;
  overflow-y: scroll;
  padding-left: 1rem;
}

.gallery__img-container>div {
  display: flex;
  gap: 15px
}

.gallery-parent {
  position: relative;
}

.gallery__check-icon {
  position: absolute;
  /* right: 2rem;
  top: 1rem; */
  /* right: 0.25rem;
  top: 0.438rem; */
}

.gallery__check-icon>img {
  min-width: 300px;
  max-height: 300px;
}

.gallery__button {
  padding: 1.5rem 0;
  background-color: #0b57d0;
  border-radius: 0;
  color: #fff;
  font-size: 0.938rem;
  letter-spacing: 1.51px;
  width: 100%;
  margin-top: 2rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.gallery__button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.gallery__arrow-back {
  margin-left: -1.5rem;
}

.img_parent-container {
  max-width: 48%;
}

.parentContainerList {
  height: 100%;
  background-color: #0b57d0;
  border: 1px solid rgba(112, 112, 112, 1);
}

.tabs__container {
  font-size: 15px;
}

.tabs__container>div {
  width: 100%;
}

div[aria-label="basic tabs example"] {
  justify-content: space-around;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #ffffff !important;
  border-bottom: 4px solid #fff !important;
  outline: 0 !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  color: #deebff !important;
  font-size: 14px !important;
  text-transform: capitalize !important;
  font-family: Robobt, Condensed Medium;
}

.total__palyers-heading {
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 1.5rem;
  font-size: 1.2rem !important;
  color: #000;
  font-weight: 400;
  font-family: "Roboto", Condensed Regular;
}

.parent__player-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #0b57d0;
  padding: 6px 0px;
}

.name__ph__no-container {
  display: flex;
  flex-direction: column;
}

.playerlist__right-container {
  display: flex;
  align-items: center;
}

.playerlist__button {
  border: 0;
  padding: 1rem 1.5rem;
  font-size: 16px;
  font-weight: 700;
  background: #0b57d0;
  outline: 0;
  color: #fff;
  font-family: 'robotoRegular';
}

.playerlist__name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #0b57d0;
  font-family: "Roboto", Condensed Bold;
}

.playerlist__phno {
  font-size: 1.2rem;
  color: #000;
  line-height: 1.5rem;
  max-width: 9.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.waitlist__header-container {
  font-size: 40px;
  color: #fff;
}

.waitlist__parent-container {
  display: flex;
  justify-content: space-between;
  padding-top: 0.688rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.waitlist__subheader-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.input__search {
  border: 1px solid #ddeffe;
  padding: 0.65rem;
  outline: none;
  font-size: 18px;
}

.wailtlist__search-container {
  max-width: 60%;
  position: relative;
  padding-right: 1.7rem;
}

.wailtlist__search-input-icon {
  position: absolute;
  right: 2.2rem;
  top: 0.938rem;
}

.tabs__container .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  font-size: 20px !important;
}

.css-1pxa9xg-MuiAlert-message {
  font-size: 1.1rem !important;
}

.alertContainer .css-1ytlwq5-MuiAlert-icon {
  font-size: 35px;
}

.alertContainer .css-ptiqhd-MuiSvgIcon-root {
  font-size: 35px;
}

.printing__header-heading {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 600;
  margin-top: -47px;
  padding-left: 26px;
  margin-bottom: 0;
}

.printing__header {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1.125rem;
}

.position-absolute gallery__check-icon {
  position: absolute;
}