.pose_container {
  height: 100vh;
}
.pose_box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(203, 195, 195);
  
}
.pose_image {
  position: relative;
  overflow: hidden;
  max-height: calc(100vh - 200px);
  
}
.pose_img_logo_loader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pose_image > img {
  width: 100%;
}
.pose_cam {
  display: flex;
  background-color: rgb(203, 195, 195);
  position: relative;
  max-height: calc(100vh - 200px);
}
.pose_cam > video{
  width: 100%;
}
.pose_cam>div>video {
  width: 100%;
  height: 100%;
}
.skip_btn_box {
  position: absolute;
  bottom: 24px;
  right: 24px;
  width: 80px;
  font-family: 'The Hound, Regular';
}
.skip_btn_box > button {
  background: #EC4058;
  border-radius: 5px;
  font-family: 'The Hound, Regular';
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.pose_bottom_container {
  display: grid;
  grid-template-columns: 2fr 3fr 22fr;
  background-color: #ffffff;
}
.pose_timer_box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #bcbcbc;
  
}
.pose_timer_box > div {
  width: 80px;
  height: 80px;
}
.pose_count_box {
  display: flex;
  align-items: center;
  border-right: 2px solid #bcbcbc;
  justify-content: center;
  font-weight: bold;
}

.pose_list_box {
  padding: 8px 16px;
}
.pose_list_box > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post_list_time_head {
  font-weight: bold;
  font-size: 20px;
}
.post_list_time_text{
  font-size: 16px;
}
.post_list_time_text > span:first-child{
  color: #989898;
  font-weight: 100;
}
.post_list_time_text > span:last-child{
  font-family: 'robotoCondensed';
  color: #0b57d0;
}

.pose_time_container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin-top: 8px;
}
.pose_time_box > div:first-child {
  display: flex;
  width: 75px;
  height: 45px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 28px;
  font-family: 'The Hound, Regular';
}
.pose_time_box > div:last-child {
  font-size: 14px;
  width: 75px;
  text-align: center;
}
.ready_pose_logo {
  position: relative;
  
}
.ready_pose_logo > .rotate_box  {
  animation: rotate 2s linear infinite
}
.rotate_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: yellow; */
  width: 75%;
  height: 75%;
  color: #000000;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.ready_pose_logo img {
  width: 100%;
}
@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.name_popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup_inner_box {
  background-color: #ffffff;
  font-family: 'robotoRegular';
  
}
.popup_inner_box > .popup_header {
  display: flex;
  justify-content: space-between;
  background-color: #0b57d0;
  align-items: center;
  font-size: 24px;
  color: #ffffff;
  padding: 20px;
  min-width: 450px;
}
.popup_inner_box > .popup_body {
  padding: 20px;
}
.popup_inner_box .btn_box  {
  width: 30px;
}
.popup_header img {
  width: 100%;
}
.notify_head {
  font-size: 24px;
  font-weight: bold;
  margin: 12px 0px;
}
.notify_body {
  font-weight: lighter;
  font-size: 14px;
  margin-bottom: 12px;
  opacity: 0.6;
}
.notify_body > span {
  font-weight: bold;
}
.popup_inner_box .input_box {
  margin: 24px 0px;
}
.popup_inner_box .input_box > input  {
  width: calc(100% - 16px);
  padding: 8px;
}
.popup_btn_box {
  display: flex;
  gap: 16px;
  margin: 12px 0px;
}
.popup_btn_box > button:last-child {
  font-weight: lighter;
  font-size: 12px;
  cursor: pointer;
}

.popup_btn_box > button:last-child:disabled {
  opacity: 0.5;
  background: #0b57d0;
}


