
@font-face {
  font-family: 'The Hound, Regular';
  src: url('./assets/fonts/the-hound.regular.ttf') format('truetype'); /* format for modern browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArialBold';
  src: url('./assets/fonts/Arial-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ArialRegular';
  src: url('./assets/fonts/Arial-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('./assets/fonts/Quicksand-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'segoe';
  src: url('./assets/fonts/SegoeUI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoCondensed';
  src: url('./assets/fonts/RobotoCondensedMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoCondensedRegular';
  src: url('./assets/fonts/RobotoCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoRegular';
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'robotoRegular'!important;
}

body {
  font-family: 'The Hound', 'Regular';
}

body {
  margin: 0px !important;
}
